<div>
    <div
        *ngFor="let navlink of navlinks"
        class="nav-icon"
        [matTooltip]="navlink.tooltip"
        [class.nav-icon-active-expanded]="navbarIsExpanded"
        [class.nav-icon-disabled]="navlink.disabled"
        [class.nav-icon-active]="navActiveIcon === navlink.app"
        (click)="handleNavlinkAction(navlink)"
    >
        <mat-icon [svgIcon]="navlink.icon"></mat-icon>
        <p
            [class.navbar-expanded-text-visible]="navbarIsExpanded"
            class="display-inline-block margin-left-xxs navbar-expanded-text"
        >
            {{ navlink.tooltip }}
        </p>
    </div>
    <div
        class="nav-icon"
        matTooltip="Global Search"
        [class.nav-icon-active-expanded]="navbarIsExpanded"
        [class.nav-icon-active]="navActiveIcon === 'search'"
    >
        <span (click)="toggleSearchSidebar($event)">
            <mat-icon svgIcon="search"></mat-icon>
            <p
                [class.navbar-expanded-text-visible]="navbarIsExpanded"
                class="display-inline-block margin-left-xxs navbar-expanded-text"
            >
                Global Search
            </p>
        </span>
    </div>
</div>
