.sbs-document-card {
    border-radius: 2px;
    margin: 8px 0 auto;
    transition: all 0.2s;
    background-color: var(--uv-color-white-2);

    &-top {
        padding: 16px;
    }

    &-bottom {
        padding: 6px 16px;
        background-color: var(--uv-color-gray-light-3);

        &-details-container {
            position: relative;
            overflow: hidden;
            height: 1.875rem;
            transition: ease-in-out .2s;

            &-expanded {
                overflow: visible;
                height: auto;
                margin-bottom: 16px;
            }
        }

        &-show-more {
            opacity: 0;
            transition: all 0.2s;
            padding: 3px 6px 5px 12px;
            border-radius: 4px;
            min-width: max-content;
            align-self: flex-end;
            display: inline-block;

            &:hover {
                background-color: var(--uv-color-gray-light);
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: var(--uv-box-shadow-hover);
        transform: translateY(-1px);
        background-color: var(--uv-color-white);

        .options-button, .sbs-document-card-bottom-show-more {
            opacity: 100;
        }

        .sbs-document-card-top-document-heading {
            p {
                color: var(--uv-color-primary);
            }
        }
    }

    &-active {
        box-shadow: var(--uv-box-shadow-hover);
        background-color: var(--uv-color-white);
    }

    &-disabled, &-disabled:hover {
        cursor: not-allowed;
        transform: none;
        color: var(--uv-color-gray-dark);
        background-color: var(--uv-color-white-2);
        box-shadow: none;
        pointer-events: none;

        .options-button, .sbs-document-card-bottom-show-more {
            opacity: 0;
        }

        .sbs-document-card-top-document-heading {
            p {
                color: inherit;
            }
        }
    }
}

.progress-chip {
    font-size: var(--uv-font-size-xs);
    width: 3rem;
    height: 1.5rem;
    padding: 2px 8px;
    border-radius: 16px;
    font-weight: 600;
    text-align: center;

    &-success {
        color: var(--uv-color-success);
        background-color: var(--uv-color-success-light);
    }

    &-danger {
        color: var(--uv-color-danger);
        background-color: var(--uv-color-danger-light);
    }
}
