.entity {
    padding: 4px 8px;
    font-size: var(--uv-font-size-sm);
    cursor: grab;

    &:hover {
        cursor: grab;
            background-color: var(--uv-color-primary-hover);
    }

    &-selected {
        background-color: var(--uv-color-primary-hover);
    }
}

.folder {
    padding: 4px 8px;
    font-size: var(--uv-font-size-sm);
    cursor: pointer;
}

.draggable {
    cursor: grab !important;
}