.wallet-item {
    // display: inline-block;
    cursor: grab;

    &:hover {
        cursor: grab;
            background-color: var(--uv-color-primary-hover);
    }

    &-selected {
        background-color: var(--uv-color-primary-hover);
    }
}

.draggable {
    cursor: grab !important;
}