.wallet-item {
    padding: 4px 8px;
    font-size: var(--uv-font-size-sm);
}

.entity {
    cursor: grab;

    &:hover {
        cursor: grab;
    }

    &-notDragging-hover {
        &:hover {
            background-color: var(--uv-color-primary-hover);
        }
    }

    &-selected {
        background-color: var(--uv-color-primary-hover);
    }
}

.no-drag {
    cursor: pointer !important;
}

.folder {
    cursor: pointer;
}

.draggable {
    cursor: grab !important;
}

.item-dragging {
    .item.selected:not(.cdk-drag-placeholder) {
        border: 3px solid orange;
    }
}

.cdk-drag-preview {
    cursor: copy;
}

// .cdk-drag-placeholder {
//     display: none;
// }

.select-item-drag-preview {
    background-color: var(--uv-color-white);
    border: var(--uv-border-gray);
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: bold;
    color: var(--uv-color-primary);
    display: inline-block;
    // width: 30px;
    line-height: 30px;
    text-align: center;
    box-shadow: var(--uv-box-shadow);
    left: 20px;
    position: relative;
    cursor: copy;
}
