.sbs-container {
        height: 100%;
        padding: 0;
    margin: 0;
}

.scroll-spacing {
    padding: 0 16px 0 0;
    height: 100%;
}

.content {
    padding: 20px 46px 0;
    height: 92%;
    overflow: auto;
    position: relative;
}

.taskbox {
    width: 200px;
}

:host {
    padding: 0;
    margin: 0;
    height: 100%;
}
