<div class="grid">
    <div class="header">
        <lib-uv-ui-header
            [headerText]="title"
            [headerSvgPath]="appIcon">

            <lib-uv-ui-search-panel type="full" *ngIf="title === 'Search'" (searchClicked)="onSearchAction(searchQuery)"></lib-uv-ui-search-panel>

            <lib-uv-ui-svg-button color='blue' svgPath='assets/profile.svg#profile' class="margin-left-sm margin-right-sm"></lib-uv-ui-svg-button>

        </lib-uv-ui-header>
    </div>

    <div class="navbar">
        <lib-uv-ui-navbar [navlinks]="nav"></lib-uv-ui-navbar>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
