.grid{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-gap: 0;
    grid-template-columns: [col1] 64px [col2] auto;
    grid-template-rows: [row1] 64px [row2] auto;
    grid-template-areas: 
    "navbar header"
    "navbar main" ;
}

.header {
    grid-column: col2;
    grid-row: row1;
}

.navbar {
    grid-column: col1;
    grid-row-start: row1;
    grid-row-end: 3;
}

.content {
    grid-column: col2;
    grid-row: row2;
}

