.helper-bar {
    background-color: var(--uv-color-white);
    padding: 12px 24px 12px 12px;
    position: absolute;
    top: 220px;
    right: 135px;
    width: 220px;
    box-shadow: var(--uv-box-shadow);
}
