<div class="flex flex-column align-items-center position-center text-align-center">
    <!-- <mat-icon svgIcon="aloka_logo_primary" class="splash-logo"></mat-icon> -->
    <h5 class="margin-bottom-xxs">Welcome to the Aloka Prototype</h5>

    <p class="margin-bottom-xs">
        The purpose of this prototype is to represent Aloka services and workflows, and used for communication, testing, experimentation, and auditing purposes.
    </p>
    <p>
        Any questions about the prototype, please contact amanda.simonds@spglobal.com.
        <epd-pl-icon-button icon="plus"></epd-pl-icon-button>
    </p>
</div>
