<div class="flex flex-column align-items-center position-center">

    <img class="logo-splash-block__logo" src="http://dpzaq1wj21co3.cloudfront.net/uv-logo.svg">

    <h5 class="margin-bottom-xxs">Welcome to Ultraviolet</h5>

    <p>The following prototype demonstrates proposed workflows and/or features.</p>
    <p>***</p>
    <p>All visuals and/or content are placeholder and should not be seen as real-world examples.</p>
    <p>Thank you for participating in the usability session.</p>

</div>

