<!-- <div class="logo-splash-block">

    <img class="logo-splash-block__logo" src="http://dpzaq1wj21co3.cloudfront.net/uv-logo.svg">

    <h1 class="margin-bottom-xs">Welcome to Ultraviolet</h1>
    <h4>Let's get you started! Click on a module below so we can get you to the right place.</h4>

</div> -->

<div class='uv-container--fluid'>
    <div class="row">
        <div class="col-6"><div class="column-placeholder">col-6</div></div>
        <div class="col-6"><div class="column-placeholder">col-6</div></div>
    </div>
    <div class="row">
        <div class="col-4"><div class="column-placeholder">col-4</div></div>
        <div class="col-4"><div class="column-placeholder">col-4</div></div>
        <div class="col-4"><div class="column-placeholder">col-4</div></div>
    </div>
    <div class="row">
        <div class="col-3"><div class="column-placeholder">col-3</div></div>
        <div class="col-3"><div class="column-placeholder">col-3</div></div>
        <div class="col-3"><div class="column-placeholder">col-3</div></div>
        <div class="col-3"><div class="column-placeholder">col-3</div></div>
    </div>
    <div class="row">
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
    </div>
    <div class="row">
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
        <div class="col-2"><div class="column-placeholder">col-2</div></div>
    </div>
</div>
