.profile-viewer {
    max-width: 1105px;
    height: calc(100vh - 177px);

    &-top {
        height: 333px;
        // overflow: auto;
        overflow: hidden;
    }

    &-metadata {
        height: calc(100% - 393px);
        overflow: auto;

    }

    &-title {
        min-width: 150px;
    }

}
