<div class="box box-rounded h-100 profile-viewer margin-auto">
    <div class="padding-sm profile-viewer-top">
        <div class="flex justify-content-space-between margin-bottom-md">
            <div class="flex justify-content-space-between">
                <div>
                    <epd-pl-icon-button class="margin-right-xxxs" icon="divider_out"></epd-pl-icon-button>
                    <epd-pl-icon-button class="margin-right-xs" icon="hide"></epd-pl-icon-button>
                </div>
            </div>
            <epd-pl-icon-button icon="close" buttonStyle="stroke"></epd-pl-icon-button>
        </div>
        <h5 class="margin-bottom-md">
            {{ name }}
        </h5>
        <div id="description" class="profile-viewer-top-description" (resized)="onDescriptionResized($event)">
            <p class="uv-body">
                {{ description }}
            </p>
        </div>
        <button mat-button *ngIf="isTextOverflow('description')" (click)="expandDescription()">See more</button>
    </div>

    <div class="flex">
        <uvx-tab
            [isActive]="metadataTabActive"
            (click)="changeTab('metadata')"
            mode="horizontal"
            label="Meta Data"
        ></uvx-tab>
        <uvx-tab
            [isActive]="historyTabActive"
            (click)="changeTab('history')"
            mode="horizontal"
            label="History"
        ></uvx-tab>
    </div>

    <div class="divider"></div>

    <div class="padding-sm profile-viewer-metadata">
        <div *ngFor="let item of items; let i = index" class="flex margin-bottom-xs">
            <div class="profile-viewer-title">
                <p class="uv-body bold">{{ item.title }}</p>
            </div>
            <div>{{ item.details }}</div>
            <div *ngIf="item.tags[0] != ''" class="flex flex-wrap">
                <div *ngFor="let tag of item.tags" class="uv-tag">{{ tag }}</div>
            </div>
        </div>
    </div>
</div>
