<div class="grid">
    <div class="sidebar">     
        <lib-uv-ui-app-side-bar titleText="600 Results">

            <div top class="flex justify-content-space-between">
                <lib-uv-ui-button buttonText="Back" type="btn-blue" (click)="clearResults()"></lib-uv-ui-button>
                <lib-uv-ui-svg-button color='blue' svgPath='assets/filter.svg#filter'></lib-uv-ui-svg-button>
            </div>

            <div bottom>
                
                <div *ngFor="let tab of searchTabs">
                <lib-uv-ui-tab 
                    (click)="onTabClicked(tab.category)"
                    [isDisabled]="tab.entitySearchCount === 0"
                    [isActive]="tab.selected"
                    svgPath="{{tab.icon}}" 
                    label="{{tab.title}}" 
                    [routerLink]="tab.routeUri">
                    <span class="chip" *ngIf="categorySelected">{{tab.entitySearchCount}}</span>
                </lib-uv-ui-tab>
                </div> 
            </div>

        </lib-uv-ui-app-side-bar>
    </div>
    
    <div class="content">
        <app-search-results *ngIf="categorySelected" [category]="searchCategory"></app-search-results>
        <app-landing *ngIf="!categorySelected"></app-landing>
    </div>
</div>
