<div class="grid">
    <div class="sidebar">     
        <lib-uv-ui-app-side-bar titleText="600 Results">

            <div top>
                <div class="top-content flex justify-content-space-between margin-bottom-sm">
                    <div>
                        <lib-uv-ui-svg-button size="xs" class="back-arrow" color='blue' svgPath='assets/back-arrow.svg#back-arrow'></lib-uv-ui-svg-button>
                        <lib-uv-ui-button buttonText="Back" type="btn-blue" (click)="clearResults()"></lib-uv-ui-button>
                    </div>
                    <div>
                        <lib-uv-ui-svg-button color='blue' class="margin-right-xs" (click)="reOrderMode()" svgPath='assets/up-down-arrows.svg#up-down-arrows'></lib-uv-ui-svg-button>
                        <lib-uv-ui-svg-button color='blue' svgPath='assets/filter.svg#filter' (click)="toggleFilterBar()"></lib-uv-ui-svg-button>
                    </div>
                </div>
                <p class="heading-4 margin-bottom-xs">Results</p>
            </div>

            <div bottom>
                
                <div *ngIf="!reOrderModeActivated">
                    <div *ngFor="let tab of searchTabs">
                        <lib-uv-ui-tab 
                        (click)="onTabClicked(tab.category)"
                        [isDisabled]="tab.entitySearchCount === 0"
                        [isActive]="onToggleTabActive(tab.category)"
                        [isReorderMode]="reOrderModeActivated"
                        svgPath="{{tab.icon}}" 
                        label="{{tab.title}}" 
                        [routerLink]="tab.routeUri">
                        <span class="chip" *ngIf="categorySelected && tab.entitySearchCount > 1">{{tab.entitySearchCount}}</span>
                    </lib-uv-ui-tab>
                </div> 
            </div>

                <div *ngIf="reOrderModeActivated" cdkDropList  (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let tab of searchTabs" cdkDrag>
                        <lib-uv-ui-tab 
                            
                            (click)="onTabClicked(tab.category)"
                            [isDisabled]="tab.entitySearchCount === 0"
                            [isActive]="onToggleTabActive(tab.category)"
                            [isReorderMode]="reOrderModeActivated"
                            svgPath="{{tab.icon}}" 
                            label="{{tab.title}}" 
                            [routerLink]="tab.routeUri">
                            <span class="chip" *ngIf="categorySelected && tab.entitySearchCount > 1">{{tab.entitySearchCount}}</span>
                        </lib-uv-ui-tab>
                    </div>
                </div>

                <div *ngIf="reOrderModeActivated" class="margin-xs flex justify-content-flex-end">
                    <lib-uv-ui-button buttonText="Close" class="margin-right-sm" type="btn-blue" (click)="reOrderMode()"></lib-uv-ui-button>
                    <lib-uv-ui-button buttonText="Save" type="btn-blue" (click)="clearResults()"></lib-uv-ui-button>
                </div>
            </div>

        </lib-uv-ui-app-side-bar>
        
    </div>
    <div class="sidebar2" [ngClass]="{ 'filter-bar-width' : filterBarActive }">
        <lib-uv-ui-app-side-bar *ngIf="filterBarActive">
            <div top>
                <div class="margin-bottom-sm flex justify-content-space-between" >
                    <p class="heading-4">Filters</p>
                    <lib-uv-ui-svg-button color='blue' class="close-button" svgPath='assets/close.svg#close' size="xs" (click)="toggleFilterBar()"></lib-uv-ui-svg-button>
                </div>
                
                <lib-uv-ui-search-panel type="basic"></lib-uv-ui-search-panel>
            </div>
            <div bottom>
                <div class="scroll-container flex flex-column">
                    <p class="bold">Technology</p>
                    <div *ngFor="let item of items" class="checkbox-container">
                        <label for="">
                            <span class="checkmark"></span>
                            {{item.title}}
                            <input type="checkbox" checked="checked">
                            
                        </label>
                    </div>
                </div>
            </div>
        </lib-uv-ui-app-side-bar>
    </div>
    
    <div class="content">
        <app-search-results *ngIf="categorySelected" [category]="searchCategory"></app-search-results>
        <app-landing *ngIf="!categorySelected"></app-landing>
    </div>
</div>
