.item-container {
    margin: 8px 0;
}

.results-number {
    border: var(--uv-border-gray);
    border-radius: 4px;
    color: var(--uv-color-gray-dark);
    font-weight: var(--uv-font-bold);
    padding: 2px 10px;
    font-size: var(--uv-font-size-sm);
}
