<div class="uv-container">
        <div class="col-2 sidebar-width-md">     
            <uvx-side-panel>
                
                <div top>
                    <div class="height-sm top-content flex justify-content-space-between margin-bottom-sm">
                        <div>
                            <uvx-button label="Back" icon='back' color='primary' mode="text" (click)="clearResults()"></uvx-button>
                        </div>
                        <div>
                            <uvx-icon-button color='primary' class="margin-right-xs" (click)="reOrderMode()" icon='up-down-arrows'></uvx-icon-button>
                            <uvx-icon-button color='primary' icon='filter2' (click)="toggleFilterBar()"></uvx-icon-button>
                        </div>
                    </div>
                    <h4 class="margin-bottom-xs">Results</h4>
                </div>
                
                <div bottom>
                    <div *ngIf="!reOrderModeActivated">
                        <div *ngFor="let tab of searchTabs; trackBy:trackByFn">
                            <uvx-tab 
                            (click)="onTabClicked(tab.category)"
                            [isDisabled]="tab.entitySearchCount === 0"
                            [isActive]="onToggleTabActive(tab.category)"
                            [isReorderMode]="reOrderModeActivated"
                            [icon]="tab.icon" 
                            [label]="tab.title" 
                            [routerLink]="tab.routeUri">
                            <span class="results-number" *ngIf="categorySelected && tab.entitySearchCount > 1">{{tab.entitySearchCount}}</span>
                        </uvx-tab>
                    </div> 
                </div>
                
                <div *ngIf="reOrderModeActivated" cdkDropList  (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let tab of searchTabs" cdkDrag>
                        <uvx-tab 
                        (click)="onTabClicked(tab.category)"
                        [isDisabled]="tab.entitySearchCount === 0"
                        [isActive]="onToggleTabActive(tab.category)"
                        [isReorderMode]="reOrderModeActivated"
                        [icon]="tab.icon" 
                        [label]="tab.title" 
                        [routerLink]="tab.routeUri">
                        <span class="results-number" *ngIf="categorySelected && tab.entitySearchCount > 1">{{tab.entitySearchCount}}</span>
                    </uvx-tab>
                </div>
            </div>
            
            <div *ngIf="reOrderModeActivated" class="margin-xs flex justify-content-flex-end">
                <uvx-button label="Close" color="primary" class="margin-right-sm" mode="text" (click)="reOrderMode()"></uvx-button>
                <uvx-button label="Save" color="primary" mode="text" (click)="clearResults()"></uvx-button>
            </div>
        </div>
        
    </uvx-side-panel>
    
</div>

<div  *ngIf="filterBarActive" class="sidebar-width-sm">
    
    <uvx-side-panel mode="scroll">
        <div top>
            <div class="margin-bottom-sm flex justify-content-space-between" >
                <h4>Filters</h4>
                <uvx-icon-button color='primary' class="close-button" icon="close" (click)="toggleFilterBar()"></uvx-icon-button>
            </div>
            
            <uvx-search-panel mode="component">
            <input type="text"
                placeholder="Search"
                class="uv-input margin-left-xs">
            </uvx-search-panel>
        </div>
        
        <div bottom class="search-filter-scroll-height">

                <p class="bold uv-body margin-top-xxs margin-bottom-xxs">Discipline</p>
                <div *ngFor="let item of items" class="item-container">
                    <uvx-checkbox [label]="item.title"></uvx-checkbox>
                </div>
                
                <p class="bold uv-body margin-top-xs margin-bottom-xxs">Category</p>
                <div *ngFor="let item of items" class="item-container">
                    <uvx-checkbox [label]="item.title"></uvx-checkbox>
                </div>
                
            <p class="bold uv-body margin-top-xs margin-bottom-xxs">Category</p>
            <div *ngFor="let item of items" class="item-container">
                <uvx-checkbox [label]="item.title"></uvx-checkbox>
            </div>
            
            <p class="bold uv-body margin-top-xs margin-bottom-xxs">Technology</p>
            <div *ngFor="let item of items" class="item-container">
                <uvx-checkbox [label]="item.title"></uvx-checkbox>
            </div>
            
            <p class="bold uv-body margin-top-xs margin-bottom-xxs">Technology</p>
            <div *ngFor="let item of items" class="item-container">
                <uvx-checkbox [label]="item.title"></uvx-checkbox>
            </div>
        </div>
            
    </uvx-side-panel>
</div>

<div [ngClass]="filterBarActive ? 'col-8' : 'col-10'" class="" >
    <app-search-results *ngIf="categorySelected" [category]="searchCategory"></app-search-results>
    <app-landing *ngIf="!categorySelected"></app-landing>
</div>
</div>

