.compare-warning {
    width: 432px;
    border-radius: 8px;
    background-color: var(--pl-base-01);
    box-shadow: var(--pl-shadow-02);
    z-index: var(--uv-z-index-popup);

    &-top {
        padding: 32px;
    }

    &-bottom {
        padding: 32px;
    }
}
