<div class="compare-warning position-center">
    <div class="compare-warning-top">
        <div class="flex justify-content-space-between margin-bottom-xs">
            <h3>Warning</h3>
            <uvx-icon-button (click)="closeCompareWarning()" icon="close" size="md" color="gray"></uvx-icon-button>
        </div>
        <p class="uv-body">
            You are are about to launch {{ selectedItem }} into [Service], leaving your current workstation. Don’t
            worry, we will save you work.
        </p>
    </div>
    <div class="divider"></div>
    <div class="compare-warning-bottom flex justify-content-space-between align-items-center">
        <uvx-checkbox label="Do not show again"></uvx-checkbox>
        <button mat-button (click)="closeCompareWarning()">Cancel</button>
        <button mat-flat-button color="primary" (click)="refresh()">Launch</button>
    </div>
</div>
