.create-dialogue {
    box-shadow: var(--pl-shadow-01);
    z-index: var(--uv-z-index-popup);
    border-radius: 8px;
    position: absolute;
    right: 0px;
    width: max-content;
    text-align: left;
}
