<div class="flex justify-content-space-between align-items-center">
    <h4>Create a New Project</h4>
    <uvx-icon-button icon="close" size="md" color="gray" (click)="cancelWizard()"></uvx-icon-button>
</div>
<div class="form-steps-container margin-top-sm">
  <ng-container *ngFor="let step of steps | async; let i = index;">
      <div (click)="onStepClick(step)"
          [ngClass]="{
            'step-complete': step.isComplete,
            'step-incomplete': !step.isComplete,
            'step-current': (currentStep | async)?.stepIndex === step.stepIndex
          }"
          class="step-bubble">
            <uvx-icon *ngIf="step.isComplete; else notCompleteTmpl" icon="checked" color="white"></uvx-icon>
            <ng-template #notCompleteTmpl>
                <span>{{step.stepIndex}}</span>
            </ng-template>
        </div>
      <div *ngIf="i < (steps | async)?.length - 1" class="step-divider"></div>
  </ng-container>
</div>
