<div
    [class.form-steps-container]="!wizardModeIsFullscreen"
    [class.form-steps-container-fullscreen]="wizardModeIsFullscreen"
>
    <div
        [class.step-bubble-container]="!wizardModeIsFullscreen"
        [class.step-bubble-container-fullscreen]="wizardModeIsFullscreen"
    >
        <ng-container *ngFor="let step of steps | async; let i = index">
            <div
                (click)="onStepClick(step)"
                [ngClass]="{
                    'step-complete': step.isComplete,
                    'step-incomplete': !step.isComplete,
                    'step-current': (currentStep | async)?.stepIndex === step.stepIndex
                }"
                class="step-bubble"
                matTooltip="Skip to this step"
            >
                <uvx-icon *ngIf="step.isComplete" icon="check" color="white"></uvx-icon>
                <span *ngIf="!step.isComplete">{{ step.stepIndex }}</span>
            </div>
            <div
                *ngIf="i < (steps | async)?.length - 1"
                [class.step-divider]="!wizardModeIsFullscreen"
                [class.step-divider-fullscreen]="wizardModeIsFullscreen"
                [ngStyle]="{ background: step.isComplete ? 'var(--pl-secondary)' : 'var(--pl-base-02)' }"
            ></div>
        </ng-container>
    </div>

    <div
        class="flex justify-content-space-between"
        [class.step-number-container]="!wizardModeIsFullscreen"
        [class.step-number-container-fullscreen]="wizardModeIsFullscreen"
    >
        <ng-container *ngFor="let step of steps | async; let i = index">
            <p class="uv-body-sm margin-top-xxs">{{ step.title }}</p>
        </ng-container>
    </div>
</div>
