<div *ngIf="currentUser.name === 'user_cummins@test.com'">
    <div
        class="nav-icon"
        matTooltip="Dashboard"
        [class.nav-icon-active-expanded]="navbarIsExpanded"
        [class.nav-icon-active]="navActiveIcon === 'home-splash'"
    >
        <a routerLink="home-splash" [queryParams]="{ app: 'home-splash' }">
            <uvx-icon icon="dashboard"></uvx-icon>
            <p
                [class.navbar-expanded-text-visible]="navbarIsExpanded"
                class="display-inline-block margin-left-xxs navbar-expanded-text"
            >
                Dashboard
            </p>
        </a>
    </div>
    <div
        class="nav-icon"
        matTooltip="Global Where Used"
        [class.nav-icon-active-expanded]="navbarIsExpanded"
        [class.nav-icon-active]="navActiveIcon === 'gwu'"
    >
        <a routerLink="gwu" [queryParams]="{ app: 'gwu' }">
            <uvx-icon icon="global_where_used"></uvx-icon>
            <p
                [class.navbar-expanded-text-visible]="navbarIsExpanded"
                class="display-inline-block margin-left-xxs navbar-expanded-text"
            >
                Global Where Used
            </p>
        </a>
    </div>
    <div
        class="nav-icon"
        matTooltip="File Folder Structure"
        [class.nav-icon-active-expanded]="navbarIsExpanded"
        [class.nav-icon-active]="navActiveIcon === 'file-folder-structure'"
    >
        <a routerLink="file-folder-structure" [queryParams]="{ app: 'file-folder-structure' }">
            <uvx-icon icon="folder"></uvx-icon>
            <p
                [class.navbar-expanded-text-visible]="navbarIsExpanded"
                class="display-inline-block margin-left-xxs navbar-expanded-text"
            >
                File Folder Structure
            </p>
        </a>
    </div>
</div>

<div *ngIf="currentUser.name === 'user_chevron@test.com'">
    <div
        class="nav-icon"
        matTooltip="Dashboard"
        [class.nav-icon-active-expanded]="navbarIsExpanded"
        [class.nav-icon-active]="navActiveIcon === 'home-splash'"
    >
        <a routerLink="home-splash" [queryParams]="{ app: 'home-splash' }">
            <uvx-icon icon="dashboard"></uvx-icon>
            <p
                [class.navbar-expanded-text-visible]="navbarIsExpanded"
                class="display-inline-block margin-left-xxs navbar-expanded-text"
            >
                Dashboard
            </p>
        </a>
    </div>
    <div
        class="nav-icon"
        matTooltip="Side By Side"
        [class.nav-icon-active-expanded]="navbarIsExpanded"
        [class.nav-icon-active]="navActiveIcon === 'sbs'"
    >
        <a routerLink="sbs" [queryParams]="{ app: 'sbs' }">
            <uvx-icon icon="compare"></uvx-icon>
            <p
                [class.navbar-expanded-text-visible]="navbarIsExpanded"
                class="display-inline-block margin-left-xxs navbar-expanded-text"
            >
                Side By Side
            </p>
        </a>
    </div>
    <div
        class="nav-icon"
        matTooltip="File Folder Structure"
        [class.nav-icon-active-expanded]="navbarIsExpanded"
        [class.nav-icon-active]="navActiveIcon === 'file-folder-structure'"
    >
        <a routerLink="file-folder-structure" [queryParams]="{ app: 'file-folder-structure' }">
            <uvx-icon icon="folder"></uvx-icon>
            <p
                [class.navbar-expanded-text-visible]="navbarIsExpanded"
                class="display-inline-block margin-left-xxs navbar-expanded-text"
            >
                File Folder Structure
            </p>
        </a>
    </div>
</div>
