.complete-page {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.complete-page-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completed-page-check {
    font-size: 4em;
    color: var(--uv-color-primary);
}
