<div class="flex gap-xs padding-xs">
    <button mat-stroked-button color="primary" class="pl-medium-button">Combo Force</button>
    <button mat-stroked-button color="primary" class="pl-medium-button">Combo Linear</button>
</div>
<div (contextmenu)="$event.preventDefault()" [ngStyle]="style" #g6GraphContainer></div>
<div class="graph-controls">
    <form class="form" [formGroup]="graphControlForm" (ngSubmit)="updateGraph()">
        <div class="flex gap-xs">
            <button mat-stroked-button color="primary" class="pl-medium-button" (click)="loadDagreLayout()">Dagre layout</button>
            <button mat-stroked-button color="primary" class="pl-medium-button" (click)="loadComboLayout()">Combo layout</button>
        </div>
        <button mat-button (click)="displayNodeCountInputs = !displayNodeCountInputs">
            {{!displayNodeCountInputs ? 'Display Node Count Inputs' : 'Hide Node Count Inputs'}}
        </button>
        <div class="node-count-inputs" *ngIf="displayNodeCountInputs">
            <!-- <epd-pl-input
                formControlName="ecmCount"
                placeholder="Enter a number"
                labelPosition="left"
                labelText="# ECMs:"
            ></epd-pl-input>
            <epd-pl-input
                formControlName="softwareBuildCount"
                placeholder="Enter a number"
                labelPosition="left"
                labelText="# Software Builds:"
            ></epd-pl-input> -->
            <epd-pl-input
                formControlName="softwareVersionCount"
                placeholder="Enter a number"
                labelPosition="left"
                labelText="# Software Versions:"
            ></epd-pl-input>
            <epd-pl-input
                formControlName="softwareComponentCount"
                placeholder="Enter a number"
                labelPosition="left"
                labelText="# Software Components:"
            ></epd-pl-input>
        </div>
        <div>
            <button mat-flat-button color="primary" type="submit">Update Graph</button>
        </div>
    </form>
</div>
