<div class="">

    <app-step-one *ngIf="step.stepIndex === 1"></app-step-one>

    <div *ngIf="step.stepIndex === 2">
        <h5 class="margin-bottom-xs">
            What item is the entity?
        </h5>

        <uvx-search-panel mode="component-border" 
            (searchClearClicked)="searchText = ''" 
            [rounded]="true" 
            [showSuggestions]="searchText != '' && !searchSelected">
            <input type="text"
                placeholder="Search..."
                class="uv-input margin-left-xs"
                maxlength="40"
                [(ngModel)]="searchText">
            <div suggestions>
                <div *ngFor="let item of searchSuggestions" class="search-suggestion" (click)="enterSearchSuggestion(item.title)">
                    <p class="uv-body">{{item.title}}</p>
                    <span class="uv-body-secondary">
                        {{item.description}}
                    </span>
                </div>
            </div>
        </uvx-search-panel>

    </div>

    <div *ngIf="step.stepIndex === 3">
        <p class="uv-body">
            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <div class="flex flex-column">
            <div class="flex justify-content-space-between margin-bottom-sm margin-top-sm">
                <p class="uv-body bold" style="width: 30%" >Lorem ipsum</p>
                <uvx-range-slider class="flex-grow" minLabel="0%" maxLabel="100%"></uvx-range-slider>
            </div>

            <div class="flex justify-content-space-between margin-bottom-sm margin-top-sm">
                <p class="uv-body bold" style="width: 30%">Lorem ipsum</p>
                <uvx-range-slider class="flex-grow" minLabel="0%" maxLabel="100%"></uvx-range-slider>
            </div>

            <div class="flex justify-content-space-between margin-bottom-sm margin-top-sm">
                <p class="uv-body bold" style="width: 30%">Lorem ipsum</p>
                <uvx-range-slider class="flex-grow" minLabel="0%" maxLabel="100%"></uvx-range-slider>
            </div>
        </div>
        
        <div class="flex flex-column">
            <uvx-button class="right" label="Complete" (click)="onCompleteStep()"></uvx-button>
            <uvx-button class="right" label="Advanced Options"></uvx-button>
        </div>
    </div>

</div>
