@import '../../../../scss/main.scss';

.task-selection {
    width: 112px;
    text-align: center;

    &:hover {
        .task-selection-button {
            background-color: var(--pl-base-02);
            border: 2px solid var(--pl-base-02);
            cursor: pointer;

            ::ng-deep {
                & > * {
                    color: var(--pl-primary);
                }
            }
        }
        p {
            color: var(--pl-primary);
        }
    }

    &-button {
        border: 2px solid var(--pl-base-03);
        padding: 1.5rem;
        border-radius: 50%;

        &-selected {
            background-color: var(--pl-base-02);
            border: 2px solid var(--pl-base-02);
            cursor: pointer;

            ::ng-deep {
                & > * {
                    color: var(--pl-primary);
                }
            }
        }
    }

    &-selected {
        color: var(--pl-primary);
    }
}

.task-selection-container {
    gap: 36px;

    @include respond(small-desktop-height) {
        gap: 18px;
    }
}

.search-suggestion {
    padding: 8px 16px;

    &:hover {
        background-color: var(--pl-base-02);
    }
}
