<div class="row">
    <uvx-action-bar class="w-100">
        <div left class="flex margin-top-xs margin-bottom-xs">
            <div class="margin-right-xs">
                <uvx-icon-button icon="left" matTooltip="Go Back" class="margin-right-xs" (click)="back()"></uvx-icon-button>
                <uvx-icon-button icon="right" matTooltip="Go Forward" (click)="forward()"></uvx-icon-button>
            </div>
            <uvx-search-panel mode="global" width="240px" (searchClearClicked)="searchText = ''">
                <input
                    type="text"
                    placeholder="Search files"
                    class="uv-input margin-left-xs"
                    maxlength="40"
                    [(ngModel)]="searchText"
                />
            </uvx-search-panel>
        </div>
        <div right class="flex margin-top-xs margin-bottom-xs gap-xxs align-items-center">
            <uvx-icon-button
                class="position-relative"
                (click)="createFolder()"
                (keydown.enter)="createFolder()"
                type="submit"
                [matTooltipDisabled]="createFolderDialogue"
                matTooltip="Create new folder"
            >create_new_folder
                <!-- <app-create-folder
                    *ngIf="createFolderDialogue"
                    (closeModalEvent)="createFolderDialogue = false"
                ></app-create-folder -->
            ></uvx-icon-button>
            <div class="divider-left"></div>
            <uvx-icon-button>sort</uvx-icon-button>
            <!-- <uvx-range-slider></uvx-range-slider> -->
        </div>
    </uvx-action-bar>
</div>

<div class="router-container">
    <div class="flex gap-xxs align-items-center padding-top-sm padding-left-sm">
        <uvx-icon>inventory_2</uvx-icon>
        <!-- <p class="pointer" (click)="navigateToMain()">Main Page</p> -->
        <app-folder-file-breadcrumbs></app-folder-file-breadcrumbs>
    </div>
    <div class="margin-right-xxs">
        <div class="padding-sm content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
