<div class="flex flex-column padding-md">
    <div class="flex margin-bottom-md justify-content-space-between">
        <h4>Global Where Used Projects</h4>
        <uvx-icon-button icon="close" size="md" color="gray" (click)="cancelWizard()"></uvx-icon-button>
    </div>

    <a (click)="createNewProject()">
        <div class="create-project margin-bottom-xs">
            + Create a New Project
        </div>
    </a>
        <div class="project flex justify-content-space-between align-items-center">
            <div class="flex flex-column project-text">
                <h5 class="margin-bottom-xxxs">Project 01</h5>
                <p class="uv-body-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div>
                <uvx-icon-button icon="more_dots" class="project-action margin-right-xs"></uvx-icon-button>
                <uvx-icon-button icon="arrow_right" color="primary" class="project-action"></uvx-icon-button>
            </div>
        </div>
</div>
