.create-project {
    width: 100%;
    border: 1px dashed var(--pl-base-03);
    border-radius: 4px;
    padding: 2.125rem;
    text-align: center;

    &:hover {
        background-color: var(--pl-base-02);
    }
}

.project {
    width: 100%;
    border: 1px solid var(--pl-base-03);
    border-radius: 4px;
    padding: 1rem 1.5rem;

    &-action {
        opacity: 0;
    }

    &-text {
        width: 80%;
    }

    &:hover {
        background-color: var(--pl-base-02);
        cursor: pointer;

        .project-action {
            opacity: 1;
        }
    }
}
