<div class="fixed-container">

  <lib-navbar-dashboard [navlinks]="nav"></lib-navbar-dashboard>


  <lib-navbar-dashboard-sub
    headingTxt="Heading"
    subHeadingTxt="Subheading"
    [snippets]="snippetBox"
    (snippetEvent)="snippetClick($event)"
  ></lib-navbar-dashboard-sub>

  <lib-header-dashboard
  headerText="Dashboard"
  iconName="dashboard"
  (profileBtnEvent)="profileClick($event)"
  (helpBtnEvent)="helpBtnClick($event)">

<lib-search-panel
  (rightArrowBtnEvent)="moveRight($event)"
  (filterBtnEvent)="showFilters($event)"
  (searchBtnEvent)="search($event)"
  (clearBtnEvent)="clear($event)"
  (expandFiltersEvent)="expandFilters($event)">

</lib-search-panel>

  </lib-header-dashboard>

  <lib-home-container>

    <router-outlet></router-outlet>

  </lib-home-container>

</div>


