<div class="uv-container--fluid h-100">
    <div class="row">
        <div class="col-12">
            <uvx-action-bar>
                <div left>
                    Select documents to get started
                </div>
                
                <div right>
                    <uvx-button mode="primary" [disabled]="!sourceDocumentSelected" label="Compare"></uvx-button>
                </div>

                <div bottom>
                    <div class="row">
                        <div class="col-6 flex flex-row justify-content-space-between padding-right-md">
                            <p>7 documents</p>
                            <div>
                                <uvx-icon-button icon="more_dots" color="primary" class="margin-right-xs"></uvx-icon-button>
                                <uvx-icon-button icon="filter" color="primary"></uvx-icon-button>
                            </div>
                        </div>
                        <div class="col-6 flex flex-row justify-content-space-between divider-left padding-left-md">
                            <p>0 documents</p>
                            <div>
                                <uvx-icon-button icon="more_dots" color="primary" class="margin-right-xs"></uvx-icon-button>
                                <uvx-icon-button icon="filter" color="primary"></uvx-icon-button>
                            </div>
                        </div>
                    </div>
                </div>
            </uvx-action-bar>
        </div>
    </div>

    <div class="row sbs-landing-container">
        <div class="col-6 h-100">
            <div class="scroll-spacing h-100">
                <div class="source-document-container h-100">
                    <app-source-document (click)="sourceDocumentSelected = true"></app-source-document>
                </div>
            </div>
        </div>
            <div class="col-6 h-100">
                <div class="scroll-spacing h-100">
                    <div class="source-document-container h-100">
                        <app-target-document *ngIf="sourceDocumentSelected" ></app-target-document>
                    </div>
                </div>
            </div>
    </div>

</div>
