<div class="compare-warning position-center" *ngIf="compareWarning">
    <div class="compare-warning-top">
        <div class="flex justify-content-space-between margin-bottom-xs">
            <h3>Warning</h3>
            <uvx-icon-button 
            (click)="compareWarning = false"
            icon="close" 
            size="md" 
            color="gray"></uvx-icon-button>
        </div>
        <p class="uv-body">
            You are are about to launch EXH-SU-5110-B into Compare, leaving your current workstation. Don’t worry, we will save you work. 
        </p>
        </div>
    <div class="divider"></div>
    <div class="compare-warning-bottom flex justify-content-space-between align-items-center">
        <uvx-checkbox label="Do not show again"></uvx-checkbox>
        <uvx-button 
        mode="text" 
        color="gray" 
        label="Cancel"
        (click)="compareWarning = false"></uvx-button>
        <uvx-button mode="primary" label="Launch"></uvx-button>
    </div>
</div>

<uvx-side-panel mode="scroll" class="search-sidebar" [@slideInOut]="searchSidebarState">
    <div top class="search-sidebar-top">
        <div class="flex align-items-center justify-content-space-between  margin-bottom-sm">
            <div class="flex align-items-center">
                <uvx-icon icon="search" color="gray" class="margin-right-xxs"></uvx-icon>
                <h3>Global Search</h3>
            </div>
            <uvx-icon-button 
            icon="close" 
            color="gray" 
            size="md"
            (click)="closeSearchSidebar()"></uvx-icon-button>
        </div>
        <div class="margin-bottom-sm">
            <uvx-search-panel mode="component-border" (searchCloseClicked)="searchText = ''">
                <input type="text"
                    placeholder="Search..."
                    class="uv-input margin-left-xs"
                    [(ngModel)]="searchText"
                    >
            </uvx-search-panel>
        </div>
        
        <uvx-dropdown>
            <span title class="flex align-items center justify-content-space-between w-100">
                <div>
                    <uvx-icon icon="list-right" class="margin-right-xs"></uvx-icon>
                    {{searchCategory}} 
                </div>
                <div class="divider-right margin-right-xs">
                    <span class="results-number margin-right-xxs">{{getCategoryResultsNumber(searchCategory)}}</span> 
                </div>
            </span>
            
            <span options *ngFor="let item of categories"
            class="custom-option flex justify-content-space-between" 
            (click)="selectCategory(item.name)">
                <div class="flex align-items-center">
                    <uvx-icon icon={{item.icon}} class="margin-right-xs"></uvx-icon>
                    {{item.name}}
                </div>
                <span class="results-number">{{getCategoryResultsNumber(item.name)}}</span>
            </span>
        </uvx-dropdown>
    </div>

    <div bottom class="search-sidebar-bottom">
        <h4 class="search-sidebar-bottom-header">{{searchText === '' ? 'Recent Searches' : searchResults.length + ' Results for ' + searchText}}</h4>
        <app-search-results 
            [category]="searchCategory" 
            [searchText]="searchText"
            (activateCompare)="activateCompare($event)">
        </app-search-results>
    </div>
</uvx-side-panel>
