
<div class="backdrop"></div>
<uvx-side-panel class="search-sidebar">
    <div top>
        <div class="flex align-items-center justify-content-space-between  margin-bottom-sm">
            <div class="flex align-items-center">
                <uvx-icon icon="search" class="margin-right-xxs"></uvx-icon>
                <h2>Global Search</h2>
            </div>
            <uvx-icon-button icon="close" size="md"></uvx-icon-button>
        </div>
        <uvx-search-panel mode="global"></uvx-search-panel>
    </div>

    <div bottom class="padding-sm">
        <h3>Recent Searches</h3>
    </div>
</uvx-side-panel>
