<div class="uv-container-fluid h-100">
    
    <div class="row">
        <uvx-action-bar class="w-100">
            <div left class="flex">
                <div class="margin-right-md">
                    <uvx-icon icon="apps-design-ripple" class="margin-right-xs"></uvx-icon>
                    <span class="medium-bold" routerLink="wave">Wave</span>
                </div>
                <div class="margin-right-md">
                    <uvx-icon icon="apps-gwu" class="margin-right-xs"></uvx-icon>
                    <span class="medium-bold" routerLink="force-directed-graph">Force Directed Graph</span>
                </div>
                <div class="margin-right-md">
                    <uvx-icon icon="document" class="margin-right-xs"></uvx-icon>
                    <span class="medium-bold" routerLink="profile">Profile</span>
                </div>
                <div class="margin-right-md">
                    <uvx-button (click)="projectWizard = true"  label="New Project"></uvx-button>
                </div>
            </div>
        </uvx-action-bar>
    </div>
    <div *ngIf="expandActionBar"class="row">
        <uvx-action-bar class="w-100">
                <uvx-icon-button class="margin-right-xs" color='primary' icon='more_dots'></uvx-icon-button>
                <uvx-icon-button color='primary' icon='fullscreen'></uvx-icon-button>
        </uvx-action-bar>
    </div>

    <router-outlet></router-outlet>

    <app-wizard-container *ngIf="projectWizard" 
        (onCancelWizard)="projectWizard = false">
    </app-wizard-container>

</div>

<uvx-backdrop 
[backdropState]="backdropState"
(backdropClicked)="projectWizard = false"
    [mode]="backdropMode">
</uvx-backdrop>


