.search-result-tool-menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 201px;
    top: -1.75rem;
    right: 16px;
    border-radius: 4px;
    box-shadow: var(--pl-shadow-01);
    transition: all 0.3s;
    background-color: var(--pl-base-01);
    z-index: var(--uv-z-index-search-sidebar-toolmenu);

    uvx-icon-button {
        &:hover {
            background-color: var(--pl-base-02);
            color: var(--pl-primary);
        }
    }
}
