.search-result-tool-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 201px;
    // top: -5px;
    // right: 16px;
    border-radius: 4px;
    box-shadow: var(--uv-box-shadow-hover-2);
    transition: all .3s;
    background-color: var(--uv-color-white);
    z-index: 99999;
    border: 1px solid red;

    uvx-icon-button {
        &:hover {
            background-color: var(--uv-color-gray-light);
            color: var(--uv-color-primary);
        }
    }
}
