<div class="container padding-md flex flex-column">

    <div #formSection *ngFor="let section of connectorCreatorSteps" 
        yPosition [topPosition]="section.complete ? '' : formSectionYPos" 
        class="margin-bottom-md" [attr.id]="section.name">

        <div class="flex flex-column">
            <h4 class="margin-bottom-sm">{{section.sectionTitle}}</h4>

            <div class="flex flex-column gap-xs">

                <div #formStep class="form-item" 
                *ngFor="let step of section.steps"
                [ngSwitch]="step.type" 
                [attr.id]="step.name">
                
                    <div *ngSwitchCase="'input'">
                        <uvx-text-input 
                        (keyup)="enterFormInputSelection($event, step, section)"
                        [label]="step.title" 
                        [value]=""
                        [required]="step.required"></uvx-text-input>
                    </div>
                    
                    <div *ngSwitchCase="'dropdown'">
                        <uvx-dropdown 
                            [hasBorder]="true" 
                            [label]="step.title" 
                            [required]="step.required">
                            <span title>{{step.selection != '' ? step.selection : step.options[0]}}</span>
                            <span options 
                                (click)="selectFormDropdownOption(step, option, section)"
                                *ngFor="let option of step.options"
                                class="custom-option flex justify-content-space-between">
                                {{option}}
                            </span>
                        </uvx-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Data Source</h4>
    <div class="divider margin-top-sm margin-bottom-sm"></div>
    <button mat-button class="margin-bottom-sm">+ Add Additional File Path</button>
    <button mat-flat-button color="primary">Add Container</button>
</div>