<div class="container padding-md flex flex-column">
    <h4>Details</h4>
    <div class="margin-bottom-md margin-top-xs">
        Connector Name
    </div>

    <h4>Setup</h4>
    <div class="margin-bottom-md margin-top-xs">
        Connection Type
    </div>

    <h4>Data Source</h4>
    <div class="divider margin-top-sm margin-bottom-sm"></div>
    <uvx-button label="+ Add Additional File Path" class="margin-bottom-sm"></uvx-button>
    <uvx-button label="Add Container" mode="primary"></uvx-button>
</div>