
<p class="uv-body medium-bold margin-bottom-xxs">
    Who are you, what is your role? (Optional)
</p>

<!-- <uvx-dropdown 
    mode="input" width="75%"
    required>
    <option *ngFor="let item of roles" class="flex align-items-center">{{item.name}}</option>
</uvx-dropdown> -->

<uvx-dropdown width="75%">
    <span title class="flex align-items center justify-content-space-between w-100">
        <div class="flex align-items-center">{{selectedRole}}</div>
        <div class="divider-right margin-right-xs"></div>
    </span>
    <span options *ngFor="let item of roles"
    class="custom-option flex justify-content-space-between" 
    (click)="selectRole(item.name)">
        <div class="flex align-items-center">{{item.name}}</div>
    </span>
</uvx-dropdown>

<h5 class="margin-top-sm margin-bottom-sm">What is your desired goal/task?</h5>

<div class="flex flex-wrap task-selection-container ">
    <div *ngFor="let item of taskSelections" class="flex flex-column align-items-center task-selection">
        <uvx-icon-button 
            size="md"
            [class.task-selection-button-selected]="item.selected" 
            class="task-selection-button margin-bottom-xxs" 
            (click)="item.selected = true" 
            [icon]="item.icon"></uvx-icon-button>
        <p class="uv-body medium-bold" [class.selected]="item.selected">
            {{item.name}}
        </p>
    </div>
</div>
