.uv-light-modal {
    position: absolute;
    z-index: 999999;
    background-color: var(--uv-color-white);
    width: 238px;
    top: 32px;
    right: 100px;
    border-radius: 4px;
    box-shadow: var(--uv-box-shadow-2);
    padding: 32px;
}

.container {
    text-align: center;
}

.step {
    background-color: var(--uv-color-help);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 10px;

    &:hover {
        cursor: pointer;
        
    }
}

@keyframes pulse { 
    0% {  
        background: var(--uv-color-white); 
    }
    50% { 
        background: var(--uv-color-help);  
    }
    100% { 
        background: var(--uv-color-white);  
    }
}
