.sbs-action-bar {
    &-link {
        font-weight: 100;
        padding: 8px 8px 8px 16px;
        border-radius: 4px;
        height: min-content;

        &:hover {
            background-color: var(--uv-color-gray-light);
        }
    }

    &-left-container {
        min-width: 10.9rem;
        height: 50px;
    }

    &-right-container {
        min-width: 25.3rem;
    }
}

.sbs-target-doc-selections-container {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    overflow: hidden;
    gap: 4px;
    min-width: 0;
    
    &-expanded {
        height: auto;
    }

    &-inner {
        height: 50px;
    }
}
