<div *ngFor="let item of targetDocuments" 
    class="sbs-document-card"
    (click)="onTargetDocumentSelected(item)" 
    [class.sbs-document-card-active]="item.active">
    <div class="sbs-document-card-top flex flex-column gap-sm">
        <div class="options-button box"><uvx-icon-button icon="more_horisontal" color="primary"></uvx-icon-button></div>
        <div class="flex flex-row align-items-center">
            <uvx-checkbox [checked]="item.active"></uvx-checkbox>
            <span class="progress-chip margin-right-xxs" 
                [class.progress-chip-success]="item.progress > 60"
                [class.progress-chip-danger]="item.progress < 60">
                {{item.progress}}%
            </span>
            <p class="bold uv-body margin-right-xxs">{{item.name}}</p> 
            <p class="uv-body">{{item.description}}</p>
        </div>

    </div>
        <div class="divider-light"></div>

        <div class="sbs-document-card-bottom flex align-items-center justify-content-space-between"
        [ngClass]="{'flex-column' : item.showDetails}">
        
        <div class="sbs-document-card-bottom-details-container" 
            [class.sbs-document-card-bottom-details-container-expanded]="item.showDetails">
            <div *ngFor="let tag of item.tags" class="sbs-tag position-relative">
                {{tag}}
            </div>
            <div *ngIf="item.showDetails" class="margin-top-xs">
                <p class="margin-bottom-xxs">Lorem ipsum dolor</p>
                <p class="uv-body">
                    {{item.details}}
                </p>
            </div>
        </div>

        <div class="sbs-document-card-bottom-show-more">
            <a class="sbs-link z-1000 block" 
                (click)="onShowMoreDocumentDetails($event, item)">
                <span *ngIf="!item.showDetails">
                    Show more <uvx-icon color="primary" size="xs" icon="arrow_collapse"></uvx-icon>
                </span>
                <span *ngIf="item.showDetails">
                    Show less <uvx-icon color="primary" size="xs" icon="arrow_expand"></uvx-icon>
                </span>
            </a>
        </div>
    </div>
</div>
