.progress-chip {
    font-size: var(--uv-font-size-xs);
    width: 3rem;
    height: 1.5rem;
    padding: 2px 8px;
    border-radius: 16px;
    font-weight: 600;
    text-align: center;

    &-success {
        color: var(--uv-color-success);
        background-color: var(--uv-color-success-light);
    }

    &-danger {
        color: var(--uv-color-danger);
        background-color: var(--uv-color-danger-light);
    }
}
