    <p class="uv-body">
            Placeholder information about the range sliders below. 
        </p>
        <div class="flex flex-column">
            <div class="flex justify-content-space-between margin-bottom-sm margin-top-sm">
                <p class="uv-body bold" style="width: 30%" >Date range</p>
                <uvx-range-slider class="flex-grow" [value]="filter1Value" minLabel="0%" maxLabel="100%" (valueChangedEvent)="filter1Changed($event)" (mouseup)="setFilter1()"></uvx-range-slider>
            </div>
            
            <div class="flex justify-content-space-between margin-bottom-sm margin-top-sm">
                <p class="uv-body bold" style="width: 30%">Category range</p>
                <uvx-range-slider class="flex-grow" [value]="filter2Value" minLabel="0%" maxLabel="100%" (valueChangedEvent)="filter2Changed($event)" (mouseup)="setFilter2()"></uvx-range-slider>
            </div>
            
            <div class="flex justify-content-space-between margin-bottom-sm margin-top-sm">
                <p class="uv-body bold" style="width: 30%">Other range</p>
                <uvx-range-slider class="flex-grow" [value]="filter3Value" minLabel="0%" maxLabel="100%" (valueChangedEvent)="filter3Changed($event)" (mouseup)="setFilter3()"></uvx-range-slider>
            </div>
        </div>
            
        <div class="flex">
            <uvx-button class="right" label="Advanced Options"></uvx-button>
            <uvx-icon color="primary" icon="chevron_bottom"></uvx-icon>
        </div>
