<div class="entity-preview" [class.entity-preview-visible]="isVisible">
    <div class="padding-xs">
        <div class="flex align-items-center justify-content-space-between margin-bottom-md">
            <div class="flex gap-xs">
                <uvx-icon-button icon="compare" matTooltip="Service 1"></uvx-icon-button>
                <uvx-icon-button icon="global_where_used" matTooltip="Service 2"></uvx-icon-button>
                <uvx-icon-button icon="design" matTooltip="Service 3"></uvx-icon-button>
                <span class="divider-left" style="margin: 0"></span>
                <uvx-icon-button icon="more_horisontal"></uvx-icon-button>
            </div>
            <uvx-icon-button icon="close" color="gray" (click)="closeEntityPreview($event)"></uvx-icon-button>
        </div>
        <div>
            <h5 class="margin-xxs">{{ entity.name }}</h5>
            <div class="details-container margin-left-xxs padding-right-xxs">
                <p>
                    {{ entity.description }}
                </p>
            </div>
        </div>
    </div>
    <div class="metadata-container">
        <div class="flex">
            <uvx-tab mode="horizontal" label="Meta Data"></uvx-tab>
            <uvx-tab mode="horizontal" label="History"></uvx-tab>
        </div>
        <div class="divider"></div>
        <div class="padding-sm metadata-container-content">
            <div *ngFor="let item of metaDataItems; let i = index" class="flex margin-bottom-xs">
                <div class="metadata-container-title">
                    <p class="uv-body bold">{{ item.title }}</p>
                </div>
                <div>{{ item.details }}</div>
                <div *ngIf="item.tags[0] != ''" class="flex flex-wrap">
                    <div *ngFor="let tag of item.tags" class="uv-tag">{{ tag }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
