<div class="entity-preview" [class.entity-preview-visible]="isVisible">
    <div class="flex justify-content-space-between">
        <div class="flex flex-column padding-xs ">
            <div class="flex gap-xs align-items-center margin-bottom-md">
                <uvx-icon-button
                    *ngFor="let item of launchServices"
                    [routerLink]="item.link"
                    [matTooltip]="item.tooltip"
                >{{item.icon}}
                </uvx-icon-button>
                <span class="divider-left" style="margin: 0"></span>
                <uvx-icon-button icon="more_horiz"></uvx-icon-button>
            </div>
            <div>
                <h5 class="margin-xxs">{{ entity.name }}</h5>
                <div class="details-container margin-left-xxs padding-right-xxs">
                    <p>
                        {{ entity.description }}
                    </p>
                </div>
            </div>
        </div>
        <uvx-icon-button
            color="gray"
            style="padding: 6px 8px; align-self: flex-start "
            (click)="closeEntityPreview($event)"
            icon="chevron_right"
        ></uvx-icon-button>
    </div>
    <div class="metadata-container">
        <div class="flex">
            <uvx-tab mode="horizontal" label="Meta Data"></uvx-tab>
            <uvx-tab mode="horizontal" label="History"></uvx-tab>
        </div>
        <div class="divider"></div>
        <div class="padding-sm metadata-container-content">
            <div *ngFor="let item of metaDataItems; let i = index" class="flex margin-bottom-xs">
                <div class="metadata-container-title">
                    <p class="uv-body bold">{{ item.title }}</p>
                </div>
                <div>{{ item.details }}</div>
                <div *ngIf="item.tags[0] != ''" class="flex flex-wrap">
                    <div *ngFor="let tag of item.tags" class="uv-tag">{{ tag }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
