.entity-preview {
    position: absolute;
    height: 100%;
    width:400px;
    z-index: -9999;
    background-color: var(--uv-color-white);
    border-left: var(--uv-border-gray);
    transition: all .5s;

    &-visible {
        transform: translateX(-400.5px);
    }
}

.details-container {
    max-height: 300px;
    overflow: auto;
}