<div
    *ngFor="let item of sourceDocuments; let i = index"
    class="sbs-document-card"
    (click)="!item.disabled && onSourceDocumentSelected(item, i)"
    [class.sbs-document-card-active]="item.active"
    [class.sbs-document-card-disabled]="item.disabled"
>
    <div class="sbs-document-card-top flex flex-column gap-sm">
        <div class="options-button box"><mat-icon svgIcon="more_horizontal" color="primary"></mat-icon></div>
        <div class="flex flex-row sbs-document-card-top-document-heading">
            <mat-icon
                *ngIf="item.active"
                svgIcon="check"
                class="margin-right-xxs"
            ></mat-icon>
            <p class="bold uv-body margin-right-xxs">{{ item.name }}</p>
            <p class="uv-body">{{ item.description }}</p>
        </div>
        <div class="flex flex-row align-items-center">
            <p class="sbs-block margin-right-xs semibold">Not started</p>
            <div class="sbs-chips-container flex flex-row">
                <span class="sbs-chip">AD</span>
                <span class="sbs-chip">SF</span>
                <span class="sbs-chip">EF</span>
            </div>
        </div>
    </div>

    <div class="divider-light"></div>

    <div
        class="sbs-document-card-bottom flex align-items-center justify-content-space-between"
        [ngClass]="{ 'flex-column': item.showDetails }"
    >
        <div
            class="sbs-document-card-bottom-details-container"
            [class.sbs-document-card-bottom-details-container-expanded]="item.showDetails"
        >
            <div *ngFor="let tag of item.tags" class="sbs-tag position-relative">
                {{ tag }}
            </div>
            <div *ngIf="item.showDetails" class="margin-top-xs">
                <p class="margin-bottom-xxs">Lorem ipsum dolor</p>
                <p class="uv-body">
                    {{ item.details }}
                </p>
            </div>
        </div>

        <div class="sbs-document-card-bottom-show-more">
            <a class="sbs-link z-1000 block" (click)="onShowMoreDocumentDetails($event, item)">
                <span *ngIf="!item.showDetails">
                    Show more <mat-icon svgIcon="arrow_collapse"></mat-icon>
                </span>
                <span *ngIf="item.showDetails">
                    Show less <mat-icon svgIcon="arrow_expand"></mat-icon>
                </span>
            </a>
        </div>
    </div>
</div>
