.wallet-wrap {
    filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.16));
    position: absolute;
    top: 46px;
    right: 25px;
}

.wallet-point {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: relative;
    left: 40%;
    width: 40px;
    height: 20px;
    background-color: var(--pl-base-01);
}

.wallet {
    text-align: left;
    width: auto;
    background-color: var(--pl-base-01);
    border-radius: 4px;
}

.wallet-favorite {
    padding: 8px 36px;
    &:hover {
        cursor: pointer;
        background-color: var(--pl-base-02);
    }
}
