<div id="wallet" class="wallet-wrap">
    <div class="wallet-point"></div>
    <div class="wallet">
        <div class="padding-top-sm align-items-center padding-bottom-xs padding-left-sm gap-xs padding-right-sm flex flex-column">
            <button
                mat-flat-button
                color="primary"
                [disabled]="!entitiesSelectedForWallet"
                (click)="entitiesSelectedForWallet && onAddEntityToWallet($event)"
            >
                <mat-icon svgIcon="store"></mat-icon>
                Add To Wallet
            </button>

            <button mat-button color="primary" (click)="openWalletClicked($event)">
                <mat-icon svgIcon="store"></mat-icon>
                Open Wallet
            </button>
        </div>
        <div class="divider" *ngIf="getWalletFavorites().length > 0"></div>
        <div
            class="flex flex-column padding-top-md padding-bottom-md"
            style="width: max-content"
            *ngIf="getWalletFavorites().length > 0"
        >
            <p
                class="uv-body bold wallet-favorite position-relative"
                *ngFor="let item of getWalletFavorites(); let i = index"
                (mouseenter)="item.launchbar = true"
                (mouseleave)="item.launchbar = false"
            >
                {{ item.name }}
                <uvx-launch-bar
                    topPos="-37px"
                    rightPos="4px"
                    *ngIf="item.launchbar"
                    [launchServices]="launchServices"
                ></uvx-launch-bar>
            </p>
        </div>
    </div>
</div>
