<div id="wallet" class="wallet-wrap">
    <div class="wallet-point"></div>
    <div class="wallet">
        <div
            class="
                padding-top-sm
                align-items-center
                padding-bottom-xs padding-left-sm
                gap-xs
                padding-right-sm
                flex flex-column
            "
        >
            <uvx-button
                color="primary"
                mode="primary"
                label="Add To Wallet"
                [disabled]="!entitiesSelectedForWallet"
                icon="store"
                (click)="entitiesSelectedForWallet && onAddEntityToWallet($event)"
            >
                Add To Wallet
            </uvx-button>

            <uvx-button (click)="openWalletClicked($event)" icon="store" label="Open Wallet"> </uvx-button>
        </div>
        <div class="divider" *ngIf="getWalletFavorites().length > 0"></div>
        <div
            class="flex flex-column padding-top-md padding-bottom-md"
            style="width: max-content"
            *ngIf="getWalletFavorites().length > 0"
        >
            <p
                class="uv-body bold wallet-favorite position-relative"
                *ngFor="let item of getWalletFavorites(); let i = index"
                (mouseenter)="item.launchbar = true"
                (mouseleave)="item.launchbar = false"
            >
                {{ item.name }}
                <uvx-launch-bar
                    topPos="-37px"
                    rightPos="4px"
                    *ngIf="item.launchbar"
                    [launchServices]="launchServices"
                ></uvx-launch-bar>
            </p>
        </div>
    </div>
</div>

