<div class="slide-out" [class.slide-out-visible]="isVisible">
    <div class="padding-sm flex justify-content-space-between">
        <h5>Create a new Change Request</h5>
        <div class="flex align-items-center gap-xxs">
            <uvx-icon-button icon="more_horisontal"></uvx-icon-button>
            <uvx-icon-button icon="double_left" (click)="closeExtendedSlideOut($event)"></uvx-icon-button>
        </div>
    </div>

    <div class="divider"></div>
    <div class="padding-md container flex flex-column justify-content-space-between">
        <app-change-request-info-block></app-change-request-info-block>
        <div class="flex flex-column gap-xs">
            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <textarea
                    id="description"
                    name="description"
                    required
                    rows="5"
                    ngModel
                    placeholder="Enter your change request information here"
                ></textarea>
                <div class="flex justify-content-space-between">
                    <mat-select
                        disableRipple
                        placeholder="Priority"
                        [disableOptionCentering]="true"
                        panelClass="bottom-select-list"
                        style="width: 140px"
                        required
                        ngModel
                        id="priority"
                        name="priority"
                    >
                        <mat-option value="low">Low</mat-option>
                        <mat-option value="medium">Medium</mat-option>
                        <mat-option value="high">High</mat-option>
                    </mat-select>
                    <div class="flex gap-xs">
                        <uvx-button type="button" color="secondary" (click)="onCancel()">Cancel</uvx-button>
                        <uvx-button color="primary" [disabled]="!form.valid">Submit</uvx-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

