<div>
    <h5 class="margin-bottom-xs">
        What item is the entity?
    </h5>

    <uvx-search-panel mode="component-border" 
        width="50%"
        (searchClearClicked)="clearSearch()" 
        [rounded]="true" 
        [showSuggestions]="searchText != '' && entitySelected == false">
        <input type="text"
            placeholder="Search..."
            class="uv-input margin-left-xs"
            maxlength="40"
            [(ngModel)]="searchText">
        <div suggestions>
            <div *ngFor="let item of searchResults; trackBy: trackItem"
                class="custom-option" 
                (click)="selectEntity(item)">
                <p class="uv-body">{{item.title}}</p>
                <div class="option-description">
                    <span class="uv-body-secondary">
                        {{item.description}}
                    </span>
                </div>
            </div>
        </div>
    </uvx-search-panel>

</div>
