.sbs {
    &-tag {
        background-color: var(--uv-color-gray-light-4);
        padding: 4px 8px;
        border-radius: 4px;
        margin: 2px 2px;
        display: inline-block;

        &:hover {
            background-color: var(--uv-color-gray-3);
        }
    }

    &-block {
        border: var(--uv-border-gray);
        padding: 8px 12px;
        display: inline-flex;
        border-radius: 4px;
    }

    &-chip {
        border: var(--uv-border-gray);
        background-color: var(--uv-color-white);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        position: relative;     
    }

    &-chips-container {
        span:not(:first-child) {
            margin-left: -8px;
        }
    }

    &-link {
        font-weight: 100;
        font-size: var(--uv-font-size-xs);
    }

}
