<div class="fixed-container">

    <lib-uv-ui-navbar-dashboard [navlinks]="nav"></lib-uv-ui-navbar-dashboard>

    <lib-uv-ui-navbar-dashboard-sub
        headingTxt="Heading"
        subHeadingTxt="Subheading"
        [snippets]="snippetBox"
        (snippetEvent)="snippetClick($event)">
    </lib-uv-ui-navbar-dashboard-sub>

    <lib-uv-ui-header-dashboard
    headerText="Dashboard"
    iconName="dashboard">

        <lib-uv-ui-search-panel
        (rightArrowBtnEvent)="moveRight($event)"
        (filterBtnEvent)="showFilters($event)"
        (searchBtnEvent)="search($event)"
        (clearBtnEvent)="clear($event)"
        (expandFiltersEvent)="expandFilters($event)">
        </lib-uv-ui-search-panel>

        <span class="header-dashboard__button-wrapper">
            <lib-uv-ui-button buttonType="text" class="header-dashboard__help-button" buttonText="?" (click)="helpBtnClick($event)"></lib-uv-ui-button>
        </span>

        <span class="header-dashboard__button-wrapper">
            <lib-uv-ui-button buttonType="icon" class="header-dashboard__icon-position svg-blue" iconName="profile" (click)="profileClick($event)"></lib-uv-ui-button>
        </span>

    </lib-uv-ui-header-dashboard>

    <lib-uv-ui-home-container>

        <router-outlet></router-outlet>

    </lib-uv-ui-home-container>

</div>


