<div class="box">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur

    Not started

    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</div>

<uvx-card mode="auto" class="w-100">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur Not started
    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</uvx-card>

<uvx-card mode="auto" class="w-100">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur Not started
    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</uvx-card>

<uvx-card mode="auto" class="w-100">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur Not started
    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</uvx-card>

<uvx-card mode="auto" class="w-100">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur Not started
    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</uvx-card>

<uvx-card mode="auto" class="w-100">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur Not started
    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</uvx-card>

<div class="box">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur

    Not started

    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</div>

<div class="box">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur

    Not started

    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</div>

<div class="box">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur

    Not started

    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</div>

<div class="box">
    EXH-SU-5110-B Lorem upsum door sit amet consectetur

    Not started

    <div class="divider"></div>

    <span class="chip">
        Lorem Ipsum
    </span>
</div>
