<div class="wallet-sidebar" [@slideInOutRightSidebarAnimation]="walletSidebarState">
    <div class="padding-sm">
        <div class="flex flex-column">
            <div class="flex align-items-center justify-content-space-between margin-bottom-sm">
                <div class="flex">
                    <h4 class="margin-right-xs">Wallet</h4>
                    <uvx-icon-button icon="more_horisontal"></uvx-icon-button>
                </div>
                <uvx-icon-button icon="close" color="gray" (click)="onCloseClicked('hidden')"></uvx-icon-button>
            </div>
            <p class="uv-body margin-bottom-xs">
                Description about the wallet feature here.
            </p>

            <div class="flex align-items-center justify-content-space-between">
                <div class="flex align-items-center">
                    <epd-pl-button-dropdown 
                        [disabled]="true" 
                        class="margin-right-xs"
                        contentText="Launch" 
                        color="primary" 
                        [disableRipple]="true"> 
                        <ng-template epdPlButtonDropdownItemTmp>
                            <div epd-pl-button-dropdown-item>Option 1</div>
                            <div epd-pl-button-dropdown-item>Option 2</div>
                        </ng-template>
                    </epd-pl-button-dropdown>
                    <uvx-button mode="secondary" label="View Objects"></uvx-button>
                </div>
                <uvx-icon-button icon="filter"></uvx-icon-button>
            </div>

        </div>

    </div>

    <div class="divider"></div>
    <div class="padding-sm">
        <uvx-icon-button icon="folder_plus" *ngIf="!folderTreeOpen" (click)="toggleFolderTree()"></uvx-icon-button>
        
        <div *ngIf="folderTreeOpen">
            <div class="flex justify-content-space-between">
                <uvx-search-panel rounded="true" mode="component-border" >
                    <input type="text"
                    placeholder="Search Entities"
                    class="uv-input margin-left-xs"
                    maxlength="40">
                </uvx-search-panel>
                <uvx-icon-button icon="filter"></uvx-icon-button>
                <uvx-icon-button icon="arrow_uprward" (click)="toggleFolderTree()"></uvx-icon-button>
            </div>

            <div class="margin-top-sm">
                <div *ngFor="let folder of folders" 
                class="margin-bottom-xxs">
                    <uvx-folder-tree-icon 
                        [open]="folder.open" 
                        (click)="folder.open = !folder.open">
                    </uvx-folder-tree-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="padding-sm">
        <h6>Entities</h6>
    </div>
    <div class="divider"></div>
</div>
