.wallet-sidebar {
    background-color: var(--pl-base-01);
    z-index: var(--uv-z-index-wallet-sidebar);
    height: calc(100vh - 64px);
}

.wallet-sidebar-wrapper {
    z-index: var(--uv-z-index-wallet-sidebar);
    height: 100%;
    position: absolute;
    top: var(--uv-header-height);
    right: 0;
    animation-name: slide-in;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    width: 450px;
    background-color: var(--pl-base-01);
    border-left: var(--uv-border-gray);
}

.folder-items {
    margin-left: 64px;
}

.cdk-drop-list-receiving {
    //border: 3px solid black;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.folder {
    //   border: 3px solid orange;
}

.cdk-drop-list-dragging {
    border: 2.5px dashed var(--pl-primary-light);
    box-sizing: border-box;
}

.wallet-item-container {
    height: calc(100vh - 327px);
    overflow: auto;
}

.sort-menu {
    position: absolute;
    border-radius: 4px;
    background-color: var(--pl-base-01);
    box-shadow: var(--pl-shadow-01);
    right: 15px;
    margin-top: 10px;
    text-align: left;
    width: 200px;
    cursor: default;
    z-index: var(--uv-z-index-navbar);

    &-item {
        padding: 8px 16px;
        &:hover {
            cursor: pointer;
            background-color: var(--pl-base-02);
        }
    }
}

// .launch-bar {
//     position: absolute;
//     padding: 10px 16px;
//     display: flex;
//     align-items: center;
//     // justify-content: space-between;
//     gap: 15px;
//     top: -10px;
//     right: 16px;
//     border-radius: 4px;
//     box-shadow: var(--pl-shadow-01);
//     background-color: var(--pl-base-01);
//     z-index: var(--uv-z-index-navbar);

//     // uvx-icon-button {
//     //     &:hover {
//     //         background-color: var(--pl-base-02);
//     //         color: var(--pl-primary);
//     //     }
//     // }
// }
