.documents {
    max-width: 1040px;
    height: 80vh;
    position: relative;
    flex-direction: column;
    margin: 32px auto;
}

.content-container {
    overflow: auto;
    height: 100%;
    position: relative;
    width: 400px;
}
