.documents {
    max-width: 1040px;
    height: 80vh;
    position: relative;
    flex-direction: column;
    margin: 12px 0;

    &:hover {
        .search-result:not(:hover) {
            transition: 2s;
            opacity: .3;
        }
    }
}

.mouseleave {
    transition: .2s !important;
}

.search-result {
    padding: 16px 19px 16px 32px;
    position: relative;
    transition: .2s;
    
    uvx-icon-button {
        opacity: 0;
    }

    &:hover, &-selected {
        opacity: 1;
        cursor: pointer;
        background-color: var(--uv-color-gray-light);
        transition: .2s;

        h5 {
            color: var(--uv-color-primary);
            transition: .2s;
        }

        uvx-icon-button {
            opacity: 1;
        }

        .search-result-tool-menu {
            opacity: 1;
            transition: .2s;
            transition-delay: .5s;
        }
    }

    &-tool-menu {
        opacity: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 201px;
        top: -1.75rem;
        right: 16px;
        border-radius: 4px;
        box-shadow: var(--uv-box-shadow-hover-2);
        background-color: var(--uv-color-white);
        z-index: var(--uv-z-index-search-sidebar-toolmenu);
    
        uvx-icon-button {
            &:hover {
                background-color: var(--uv-color-gray-light);
                color: var(--uv-color-primary);
            }
        }
    }
}
