<div epdPlRegisterIcon class="container">
    <epd-pl-dynamic-bar title="Settings" [icon]="icon" [actions]="actions">
        <ng-template #icon>
            <mat-icon svgIcon="settings"></mat-icon>
        </ng-template>
        <ng-template #actions>
            <epd-pl-button-dropdown
                *ngIf="!isCreateConnector"
                [disabled]="false"
                contentText="Create"
                color="primary"
                [disableRipple]="true"
            >
                <ng-template epdPlButtonIconTmp>
                    <mat-icon svgIcon="store"></mat-icon>
                </ng-template>
                <ng-template epdPlButtonDropdownItemTmp>
                    <div
                        epd-pl-button-dropdown-item
                        [routerLink]="['connector-creator']"
                        [queryParams]="{ app: 'settings', service: 'connector-creator' }"
                        (click)="launchDataLakeConnectorCreator()"
                    >
                        <mat-icon svgIcon="datalake"></mat-icon>
                        Data Lake Connector
                    </div>
                    <div epd-pl-button-dropdown-item><mat-icon svgIcon="windchill"></mat-icon>Windchill</div>
                </ng-template>
            </epd-pl-button-dropdown>
        </ng-template>
    </epd-pl-dynamic-bar>

    <div class="flex h-100 scroll w-100">
        <app-settings-menu></app-settings-menu>
        <router-outlet></router-outlet>
    </div>
</div>
