<div class="row">
    <uvx-action-bar class="w-100">
        <div left class="flex margin-top-xs margin-bottom-xs">
            <div *ngIf="isCreateConnector" class="flex align-items-center">
                <uvx-icon icon="datalake" class="margin-right-xs"></uvx-icon>
                <h4>New Data Lake Connector</h4>
            </div>
        </div>
        <div right class="flex margin-top-xs margin-bottom-xs">
            <epd-pl-button-dropdown 
            *ngIf="!isCreateConnector"
                [disabled]="false" 
                contentText="Create" 
                color="primary" 
                [disableRipple]="true"> 
                <ng-template epdPlButtonIconTmp>
                    <uvx-icon color="white" class="margin-right-xxs" icon="store"></uvx-icon>
                </ng-template>
                <ng-template epdPlButtonDropdownItemTmp>
                    <div epd-pl-button-dropdown-item 
                    [routerLink]="['connector-creator']"
                    [queryParams]="{app: 'settings', service: 'connector-creator'}"
                    (click)="launchDataLakeConnectorCreator()">
                    <uvx-icon icon="datalake"></uvx-icon>
                        Data Lake Connector
                    </div>
                    <div epd-pl-button-dropdown-item>
                        <uvx-icon icon="windchill"></uvx-icon>Windchill</div>
                </ng-template>
            </epd-pl-button-dropdown>
        </div>
    </uvx-action-bar>
</div>

<div class="router-container">
    <router-outlet></router-outlet>
</div>