<div class="table-container">
    <div class="table">
        <div class="table-column">
            <div class="column col-name" *ngFor="let col of cols">
                <div class="flex justify-content-space-between">
                    {{col.colName}}
                    <uvx-icon [icon]="col.icon" size="xs" class="margin-right-lg"></uvx-icon>
                </div>
            </div>
        </div>
        <div class="table-row" *ngFor="let item of data; index as i">
            <div class="row">{{item.name}}</div>
            <div class="row">{{item.type}}</div>
            <div class="row">{{item.lastModified}}</div>
            <div class="row">{{item.restrictedAccess}}</div>
        </div>
    </div>
    <!-- <div class="actions">
        <button>Back</button>
        <button>Next</button>
    </div> -->
</div>