.profile-controls {
    position: absolute;
    bottom: 0px;
    background-color: var(--pl-base-01);
    width: 100%;
    padding: 12px;
    border-top: 1px solid var(--pl-border-color);
    display: flex;
    align-items: flex-end;
}

.profile-row {
    height: calc(100% - 53px);
}

.paginate {
    cursor: pointer;
    position: absolute;
    top: 50%;
    height: 144px;
    width: 144px;
    border-radius: 100%;
    background-color: var(--pl-base-03);

    &:hover {
        background-color: var(--pl-base-02);
    }

    &-next {
        right: -123px;
    }

    &-back {
        left: -58px;
    }
}

.animate {
    &-exit-right {
        animation: moveOutRight 1s 1;
    }
    &-exit-left {
        animation: moveOutLeft 1s 1;
    }
    &-enter-right {
        animation: moveInRight 1s 1;
    }
    &-enter-left {
        animation: moveInLeft 1s 1;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveOutLeft {
    100% {
        opacity: 0;
        transform: translateX(-2000px);
    }
}

@keyframes moveOutRight {
    100% {
        opacity: 0;
        transform: translateX(2000px);
    }
}
