<div class="flex flex-wrap gap-sm" *ngIf="searchResults.length < 1; else resultsTpl">
    <div
        class="file flex flex-column padding-top-xxs"
        *ngFor="let fileFolder of allFolders.folders; let i = index"
        (click)="navigateToFolder(fileFolder, $event)"
    >
        <div class="flex align-items-center justify-content-space-between">
            <div class="padding-left-xxs">
                <uvx-icon-button *ngIf="fileFolder.shared" icon="users" class="shared">
                    <div class="padding-sm padding-right-md box shared-menu">
                        <h4>{{ fileFolder.name }}</h4>
                        <p class="margin-top-xs">Description about the folder and the people it is shared with.</p>
                        <div class="flex justify-content-space-between align-items-center margin-top-xs">
                            <img src="../../../assets/users.png" alt="" style="width: 130px; height: 33px" />
                            <uvx-button mode="text" color="gray" label="View Details"></uvx-button>
                        </div>
                    </div>
                </uvx-icon-button>
            </div>
            <uvx-icon-button
                (click)="optionsMenuClicked(fileFolder, $event, i)"
                [matTooltip]="!fileFolder.menuActive ? 'Options Menu' : null"
                icon="more_vertical"
                class="text-align-right position-relative"
            >
                <app-options-menu [fileFolder]="fileFolder"></app-options-menu>
            </uvx-icon-button>
        </div>

        <div
            class="flex align-items-center h-100 justify-content-space-between flex-column padding-left-md padding-right-md padding-bottom-xs"
        >
            <uvx-icon icon="folder" size="xxl"></uvx-icon>
            <p class="file-name">{{ fileFolder.name }}</p>
        </div>
    </div>
    <div
        class="file flex flex-column padding-top-xxs"
        *ngFor="let file of allFolders.files"
        (click)="navigateToProfile(file)"
    >
        <uvx-icon-button
            icon="more_vertical"
            class="text-align-right"
            (click)="optionsMenuClicked(file, $event, i)"
            [matTooltip]="!file.menuActive ? 'Options Menu' : null"
        >
            <app-options-menu [fileFolder]="file"></app-options-menu>
        </uvx-icon-button>
        <div
            class="flex align-items-center h-100 justify-content-space-between flex-column padding-left-md padding-right-md padding-bottom-xs"
        >
            <uvx-icon icon="profile" size="xxl"></uvx-icon>
            <p class="file-name">{{ file.name }}</p>
        </div>
    </div>
</div>
<ng-template #resultsTpl>
    <div class="flex flex-wrap gap-sm" *ngIf="!noSearchResults; else noResultsTpl">
        <div
            class="file flex flex-column padding-top-xxs"
            *ngFor="let fileFolder of searchResults; let i = index"
            (click)="navigateToFolder(fileFolder, $event)"
        >
            <div x class="flex align-items-center justify-content-space-between" matTooltip="Open folder">
                <div class="padding-left-xxs">
                    <uvx-icon-button *ngIf="fileFolder.shared" icon="folder" class="shared">
                        <div class="shared-menu padding-sm box">
                            <h4>{{ fileFolder.name }}</h4>
                            <p class="margin-top-xs">Description about the folder and the people it is shared with.</p>
                            <div class="flex justify-content-space-between">
                                <img src="../../../assets/users.png" alt="" />
                                <uvx-button mode="secondary" label="View Details"></uvx-button>
                            </div>
                        </div>
                    </uvx-icon-button>
                </div>
                <uvx-icon-button
                    (click)="optionsMenuClicked(fileFolder, $event, i)"
                    [matTooltip]="!fileFolder.menuActive ? 'Options Menu' : null"
                    icon="more_vertical"
                    class="text-align-right position-relative"
                >
                    <app-options-menu [fileFolder]="fileFolder"></app-options-menu>
                </uvx-icon-button>
            </div>

            <div
                class="flex align-items-center h-100 justify-content-space-between flex-column padding-left-md padding-right-md padding-bottom-xs"
            >
                <uvx-icon icon="folder" size="xxl"></uvx-icon>
                <p class="file-name">{{ fileFolder.name }}</p>
            </div>
        </div>
    </div>
    <ng-template #noResultsTpl>
        Your search query did not match any folder or file names.
    </ng-template>
    
</ng-template>
