.file {
    border: 1px solid var(--uv-color-gray);
    background-color: var(--uv-color-white);
    border-radius: 2px;
    cursor: pointer;
    width: 165px;
    height: 167px;

    &:hover {
        box-shadow: var(--uv-box-shadow);
        background-color: var(--uv-color-gray-light-2);

        svg {
            color: var(--uv-color-primary);
        }
    }

    &-name {
        line-height: 1.25em;
        text-align: center;
    }
}

.shared {
    position: relative;

    &-menu {
        color: var(--uv-color-black);
        text-align: left;
        width: max-content;
        max-width: 324px;
        opacity: 0;
        position: absolute;
        box-shadow: var(--uv-box-shadow-2);
        border-radius: 4px;
        visibility: hidden;
    }

    &:hover {
        .shared-menu {
            opacity: 1;
            transition-property: opacity;
            // transition-delay: 0.75s;
            visibility: visible;
        }
    }
}
