<div class="form-page-container">

    <div class="form-page-container-top">
        <div class="flex justify-content-space-between align-items-center">
            <h4>Create a New Project</h4>
            <uvx-icon-button icon="close" size="md" color="gray" (click)="cancelWizard()"></uvx-icon-button>
        </div>
        <div class="app-steps-top">
            <app-steps></app-steps>
        </div>
    </div>

    <div class="divider"></div>

    <div class="form-page-container-middle flex">

        <div class="app-steps-side">
            <app-steps></app-steps>
        </div>

        <div class="divider-right margin-right-md steps-divider-side"></div>

        <div class="form-step w-100">
            <ng-container [ngSwitch]="(currentStep | async)?.stepIndex">
                <ng-container *ngSwitchCase="'1'">
                    <app-step-directions [step]="(currentStep | async)"></app-step-directions>
                </ng-container>
                <ng-container *ngSwitchCase="'2'">
                    <app-step-directions [step]="(currentStep | async)"></app-step-directions>
                </ng-container>
                <ng-container *ngSwitchCase="'3'">
                    <app-step-directions [step]="(currentStep | async)"></app-step-directions>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="divider"></div>

    <div class="form-page-container-bottom flex justify-content-flex-end align-items-center">
        <uvx-button label="Cancel" color="gray" class="margin-right-sm" 
        (click)="cancelWizard()"></uvx-button>
        <uvx-button 
        (click)="onNextStep()" [disabled]="!(currentStep | async)?.isComplete" 
        mode="primary"
        [label]="showButtonLabel()">
        </uvx-button>
    </div>
</div>
