<div [class.form-page-container-fullscreen]="wizardModeFullscreen"
    [class.form-page-container]="!wizardModeFullscreen">

    <div *ngIf="wizardModeFullscreen"
    class="app-steps-fullscreen">
        <app-steps [wizardModeIsFullscreen]="wizardModeFullscreen"></app-steps>
    </div>

    <div class="flex flex-column w-100">
        <div [class.form-page-container-top-fullscreen]="wizardModeFullscreen"
        [class.form-page-container-top]="!wizardModeFullscreen">
            <div class="flex justify-content-space-between align-items-center margin-bottom-xs">
                <h4>Title of the Step</h4>
                <uvx-icon-button icon="close" matTooltip="Close Wizard" size="md" color="gray" (click)="cancelWizard()"></uvx-icon-button>
            </div>
            <p class="uv-body">This is a description of the step. More filler text here.</p>
            <div *ngIf="!wizardModeFullscreen" class="app-steps-top">
                <app-steps></app-steps>
            </div>
        </div>

        <div *ngIf="!wizardModeFullscreen" class="divider"></div>

        <div class="flex flex-column justify-content-space-between h-100" 
        [class.fullscreen-bg]="wizardModeFullscreen">
            <div class="form-page-container-middle flex justify-content-space-between">

                <div *ngIf="!wizardModeFullscreen" class="app-steps-side">
                    <app-steps></app-steps>
                </div>
                
                <div *ngIf="!wizardModeFullscreen" class="divider-right margin-right-md steps-divider-side"></div>

                <div class="w-100 flex flex-column justify-content-space-between h-100"
                [class.directions-fullscreen]="wizardModeFullscreen">
                    <ng-container [ngSwitch]="(currentStep | async)?.stepIndex">
                        <ng-container *ngSwitchCase="'1'">
                            <app-step-directions [step]="(currentStep | async)"></app-step-directions>
                        </ng-container>
                        <ng-container *ngSwitchCase="'2'">
                            <app-step-directions [step]="(currentStep | async)"></app-step-directions>
                        </ng-container>
                        <ng-container *ngSwitchCase="'3'">
                            <app-step-directions [step]="(currentStep | async)"></app-step-directions>
                        </ng-container>
                    </ng-container>
                </div>

                <app-helper-bar *ngIf="wizardModeFullscreen"></app-helper-bar>
            </div>

            <div>
                <div class="flex justify-content-flex-end margin-bottom-sm margin-sm">
                    <p class="uv-body uv-font-gray semi-bold color-primary">
                        Total results: <span class="color-primary">{{totalResults}}</span>
                    </p>
                </div>
                <div class="divider"></div>
                <div class="form-page-container-bottom flex justify-content-space-between align-items-center">
                    <uvx-button mode="tertiary" label="Skip" 
                    matTooltip="Skip this step"
                    color="gray" 
                    (click)="onSkipStep()"></uvx-button>
                    <div>
                        <uvx-button label="Back" mode="primary" 
                        class="margin-right-sm" 
                        matTooltip="Go to previous step"
                        [disabled]="currentStepNumber.stepIndex === 1"
                        (click)="currentStepNumber.stepIndex > 1 && onBackStep()">
                        </uvx-button>
                        <uvx-button 
                        (click)="currentStepNumber.isComplete && onNextStep()" 
                        [disabled]="!currentStepNumber.isComplete" 
                        mode="primary"
                        [matTooltip]="!isLastStep ? 'Go to next step' : 'Finish and launch into GWU'"
                        [label]="getButtonLabel()">
                        </uvx-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
