<div class="flex flex-wrap gap-sm">
    <div
        class="file flex flex-column padding-top-xxs"
        *ngFor="let fileFolder of openFolder.folders"
        (click)="navigateToFolder(fileFolder, $event)"
    >
        <uvx-icon-button
            (click)="optionsMenuClicked(fileFolder, $event, i)"
            [matTooltip]="!fileFolder.menuActive ? 'Options Menu' : null"
            icon="more_vertical"
            class="text-align-right position-relative"
        >
            <app-options-menu [fileFolder]="fileFolder"></app-options-menu>
        </uvx-icon-button>
        <div
            class="flex align-items-center h-100 justify-content-space-between flex-column padding-left-md padding-right-md padding-bottom-xs"
        >
            <mat-icon svgIcon="folder"></mat-icon>
            <p class="file-name">{{ fileFolder.name }}</p>
        </div>
    </div>
    <div
        class="file flex flex-column padding-top-xxs"
        *ngFor="let file of openFolder.files"
        (click)="navigateToProfile(file, $event)"
    >
        <uvx-icon-button
            (click)="optionsMenuClicked(file, $event, i)"
            [matTooltip]="!file.menuActive ? 'Options Menu' : null"
            icon="more_vertical"
            class="text-align-right position-relative"
        >
            <app-options-menu [fileFolder]="file"></app-options-menu>
        </uvx-icon-button>
        <div class="flex align-items-center flex-column h-100 justify-content-space-between padding-left-md padding-right-md padding-bottom-xs">
            <mat-icon svgIcon="profile" size="xxl"></mat-icon>
            <p class="file-name">{{ file.name }}</p>
        </div>
    </div>
</div>
