.file {
    border: 1px solid var(--pl-base-02);
    background-color: var(--pl-base-01);
    border-radius: 2px;
    cursor: pointer;
    width: 165px;
    height: 167px;

    &:hover {
        box-shadow: var(--pl-shadow-01);
        background-color: var(--pl-base-02);

        svg {
            color: var(--pl-primary);
        }
    }

    &-name {
        line-height: 1.25em;
        text-align: center;
    }
}
