<div class="flex flex-wrap gap-sm">
    <div
        class="file flex flex-column padding-top-xxs"
        *ngFor="let fileFolder of openFolder.folders"
        (click)="navigateToFolder(fileFolder, $event)"
    >
        <uvx-icon-button
            (click)="optionsMenuClicked(fileFolder, $event, i)"
            [matTooltip]="!fileFolder.menuActive ? 'Options Menu' : null"
            class="text-align-right position-relative"
            >more_vert
        </uvx-icon-button>
        <app-options-menu [fileFolder]="fileFolder"></app-options-menu>
        <div
            class="
                flex
                align-items-center
                h-100
                justify-content-space-between
                flex-column
                padding-left-md padding-right-md padding-bottom-xs
            "
        >
            <uvx-icon size="xxl">folder</uvx-icon>
            <p class="file-name">{{ fileFolder.name }}</p>
        </div>
    </div>
    <div
        class="file flex flex-column padding-top-xxs"
        *ngFor="let file of openFolder.files"
        (click)="navigateToProfile(file, $event)"
    >
        <uvx-icon-button
            (click)="optionsMenuClicked(file, $event, i)"
            [matTooltip]="!file.menuActive ? 'Options Menu' : null"
            class="text-align-right position-relative"
            >more_vert
        </uvx-icon-button>
        <app-options-menu [fileFolder]="file"></app-options-menu>
        <div
            class="
                flex
                align-items-center
                flex-column
                h-100
                justify-content-space-between
                padding-left-md padding-right-md padding-bottom-xs
            "
        >
            <uvx-icon size="xxl">person</uvx-icon>
            <p class="file-name">{{ file.name }}</p>
        </div>
    </div>
</div>

