.grid {
    position: relative;
    height: calc(100vh - 64px);
    display: grid;
    grid-gap: 0;
    grid-template-columns: [col1] 336px [col2] auto;
    grid-template-rows: [row1] 68px [row2] auto;
    grid-template-areas:
        "sidebar appbar"
        "sidebar main" ;
}

.actionbar {
    grid-column: col2;
    grid-row: row1;
    border-top: none;
}
.sidebar {
    grid-column: col1;
    grid-row-start: row1;
    grid-row-end: 3;
}
.content {
    grid-column: col2;
    grid-row: row2;
}

.wizard-margin {
    margin: 28px 32px;
}
