<div class="grid">

    
    <div class="actionbar">
        <uvx-action-bar>
            <div right>
                <uvx-icon-button class="margin-right-xs" color='primary' icon='more_dots'></uvx-icon-button>
                <uvx-icon-button color='primary' icon='fullscreen'></uvx-icon-button>
            </div>
        </uvx-action-bar>
    </div>

    <div class="sidebar">
        <uvx-side-panel>
            <div top>
                <div class="height-sm top-content flex justify-content-space-between margin-bottom-sm">
                    <div>
                        <uvx-button label="Back" mode="text" icon="back" color="primary"></uvx-button>
                    </div>
                </div>
                <h4 class="margin-bottom-xs">Title Goes Here</h4>
                <p>Lorem ipsum dolor sit amet consectetur eiusmod tempor adipiscing elit sed do incididunt ut labore</p>
            </div>

            <div bottom>
                    <div *ngFor="let tab of gwuTabs">
                        <uvx-tab 
                        icon="{{tab.icon}}" 
                        label="{{tab.linkText}}">
                    </uvx-tab>
                </div> 
            </div>
        </uvx-side-panel>
    </div>

<div class="content">
    
</div>

</div>
