<div class="grid">

    
    <div class="appbar">
    <lib-uv-ui-app-bar></lib-uv-ui-app-bar>
</div>

<div class="sidebar">
    
    <lib-uv-ui-app-side-bar
        titleText="Title Can Go Here"
        descriptionText="Lorem ipsum dolor sit amet consectetur eiusmod tempor adipiscing elit sed do incididunt ut labore">
        <div *ngFor="let tab of gwuTabs">
            <lib-uv-ui-tab svgPath="{{tab.icon}}" label="{{tab.linkText}}"></lib-uv-ui-tab>
        </div>
    </lib-uv-ui-app-side-bar>
    
</div>

<div class="content">
    
    <lib-uv-ui-widget><img src='../../assets/graph.png'></lib-uv-ui-widget>
    
</div>

</div>
