<div *ngFor="let item of targetDocuments" class="sbs-document-card">
    <div class="sbs-document-card-top flex flex-column gap-sm">
        <div class="flex flex-row align-items-center">
            <uvx-checkbox></uvx-checkbox>
            <span class="progress-chip margin-right-xxs" 
                [class.progress-chip-success]="item.progress > 60"
                [class.progress-chip-danger]="item.progress < 60">
                {{item.progress}}%
            </span>
            <p class="bold uv-body margin-right-xxs">{{item.title}}</p> 
            <p class="uv-body">{{item.description}}</p>
        </div>

    </div>
        <div class="divider-light"></div>

    <div class="sbs-document-card-bottom">
        <div *ngFor="let tag of item.tags" class="sbs-tag uv-label-sbs">
            {{tag}}
        </div>
    </div>
</div>
