<uvx-expanding-menu 
    (toggleButtonClicked)="toggleSettingsMenu()" 
    [menuIsExpanded]="settingsMenuIsExpanded"
    >
    <div content>
        <div *ngFor="let section of connectorCreatorSteps" 
        yPosition [topPosition]="section.yPos" 
        [stylePos]="section.complete ? 'relative' : 'absolute'"
        class="margin-bottom-md" [attr.id]="section.name">

            <div class="flex align-items-center" >
                <uvx-icon 
                [icon]="section.complete ? 'check' : ''" 
                color="success" class="margin-right-xs"></uvx-icon>
                <p class="uv-body-sm bold">{{section.sectionTitle}}</p>
            </div>
        </div>

            <div *ngFor="let section of connectorCreatorSteps">
                <div  class="flex align-items-center"
                 *ngFor="let step of section.steps" 
                yPosition
                [topPosition]="step.yPos" 
                [stylePos]="section.complete ? 'relative' : 'absolute'"
                [attr.id]="step.name">
                <uvx-icon 
                [icon]="step.complete ? 'check' : ''" 
                color="success" class="margin-right-xs"></uvx-icon>
                <p class="uv-body-sm">{{step.title}}</p>
            </div>
        </div>

        
    </div>
</uvx-expanding-menu>