@import '../../../../scss//main.scss';

.wizard-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 8px;
    z-index: var(--uv-z-index-popup);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(small-desktop-width) {
        width: 80%;
    }
}

.wizard-full {
    background-color: var(--uv-color-white);
    height: 100%;
}
