<div class="padding-left-sm padding-top-sm">
    <p>
        The icons below have been uploaded to the Image S3 bucket and also added to <a href="https://pattern-library-ii.dev.uvp.epd.pdd.ihs.com/?path=/story/getting-started--page">EPD Pattern Library Icon Registry</a>.
    </p>
    <p>
        If you have the <a href="https://pattern-library-ii.dev.uvp.epd.pdd.ihs.com/?path=/story/getting-started--page">EPD Pattern Library Icon Registry</a> installed on your MFE, you can use the names of these icons
        with mat icon, like in this example below:
    </p>
    <p>
        <code>&lt;mat-icon svgIcon="yourIconName"&gt;&lt;/mat-icon&gt;</code>
    </p>

    <p>
        If you do not have the EPD PL Icon Registry installed and want to do so, check out the directions on the
        <a href="https://pattern-library-ii.dev.uvp.epd.pdd.ihs.com/?path=/story/getting-started--page"
            >Getting Started</a
        >
        page.
    </p>
    <p>
        If you do not see your icon and cannot install the EPD PL Icon Registry, feel free to check if its in the S3
        bucket using the
        <a href="https://pattern-library-ii.dev.uvp.epd.pdd.ihs.com/?path=/story/styles-icons--bucket-icons-list"
            >Bucket Icons List Storybook Page</a
        >
        and use the url in your own MFE's icon registry.
    </p>
</div>
<div class="padding-sm flex gap-10">
    <button mat-flat-button color="primary" (click)="sortArray('recent')">Sort by Most Recent</button>
    <button mat-flat-button color="primary" (click)="sortArray('name')">Sort by Name</button>
    <button mat-flat-button color="primary" (click)="sortArray('category')">Sort by Category</button>
    <uvx-search-panel mode="component-border" (searchClearClicked)="clearSearch()">
        <input
            type="text"
            placeholder="Search..."
            class="uv-input margin-left-xs"
            maxlength="40"
            [(ngModel)]="searchText"
        />
    </uvx-search-panel>
</div>
<div class="flex flex-wrap container scroll padding-left-sm">
    <div
        *ngFor="let icon of sortedArray"
        class="icon-display flex flex-column align-items-center justify-content-center"
    >
        <uvx-icon-button class="margin-bottom-xs" icon="{{ icon.name }}"></uvx-icon-button>
        <p class="uv-body-sm">name: {{ icon.name }}</p>
        <p class="uv-body-sm">url: {{ icon.url }}</p>
    </div>
</div>

